# Builds
build
releases

# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# PHPStorm
.idea/*

# Sublime Text
*.sublime*

# composer
composer.phar
composer.lock
vendor/*
/administrator/com_dnbooking/vendor/

administrator/vendor/

.idea/

.node_modules/

templates/administrator/atum/css/system/

templates/administrator/atum/css/vendor/

templates/administrator/atum/css/template-rtl.css

templates/administrator/atum/css/template-rtl.min.css

templates/administrator/atum/css/template-rtl.min.css.gz

templates/administrator/atum/css/template.css

templates/administrator/atum/css/template.min.css

templates/administrator/atum/css/template.min.css.gz
