<?xml version="1.0" encoding="utf-8"?>
<config>
    <inlinehelp button="show"/>
    <fieldset
            name="component"
            label="COM_DNBOOKING_CONFIG_SETTINGS_LABEL"

    >
        <field name="com_dnbooking_note"
               type="note"
               label="COM_DNBOOKING_CONFIG_SETTINGS_NOTE"
        />
        <field
                name="returnurl"
                type="menuitem"
                label="COM_DNBOOKING_CONFIG_RETURNURL_LABEL"
                description="COM_DNBOOKING_CONFIG_RETURNURL_DESC"
        />



    </fieldset>
    <fieldset
        name="openighourssetting"
        label="COM_DNBOOKING_CONFIG_OPENINGHOURSSETTINGS_LABEL"
        addfieldprefix="DnbookingNamespace\Component\Dnbooking\Administrator\Field\OpeningHours"
        >
        <field name="closed_color" type="color" default="" label="COM_DNBOOKING_CONFIG_CLOSED_COLOR_LABEL" description="COM_DNBOOKING_CONFIG_CLOSEDCOLOR_DESC"/>

        <field name="regular_opening_hours" type="subform"
               label="COM_DNBOOKING_CONFIG_REGULAR_OPENINGHOURS_LABEL"
               description="COM_DNBOOKING_CONFIG_REGULAR_OPENINGTHOURS_DESC"
               multiple="true"
               layout="joomla.form.field.subform.repeatable-table">
            <form>
                <field name="starttime" type="time"
                       label="COM_DNBOOKING_CONFIG_REGULAR_OPENINGHOUR_START_LABEL"
                       description="COM_DNBOOKING_CONFIG_REGULAR_OPENINGHOUR_START_DESC"
                       format="%H:%M"
                       showtime="true"
                       filter="server_utc" />
                <field name="endtime" type="time"
                       label="COM_DNBOOKING_CONFIG_REGULAR_OPENINGHOUR_END_LABEL"
                       description="COM_DNBOOKING_CONFIG_REGULAR_OPENINGHOUR_END_DESC"
                       format="%H:%M"
                       showtime="true"
                       filter="server_utc" />
                <field name="openinghour_color" type="color" default="" label="COM_DNBOOKING_CONFIG_COLOR_LABEL" description="COM_DNBOOKING_CONFIG_COLOR_DESC"/>
            </form>
        </field>
        <field name="weekly_opening_hours" type="subform"
               label="COM_DNBOOKING_CONFIG_WEEKLY_OPENINGHOURS_LABEL"
               description="COM_DNBOOKING_CONFIG_WEEKLY_OPENINGHOURS_DESC"
               >
            <form>
                <field
                        name="opening_hours_monday"
                        type="OpeningHours"
                        label="COM_DNBOOKING_CONFIG_DAY_MONDAY"
                        description="COM_DNBOOKING_CONFIG_DAY_MONDAY_DESC"
                />
                <field
                        name="opening_hours_tuesday"
                        type="OpeningHours"
                        label="COM_DNBOOKING_CONFIG_DAY_TUESDAY"
                        description="COM_DNBOOKING_CONFIG_DAY_TUESDAY_DESC"
                />
                <field
                        name="opening_hours_wednesday"
                        type="OpeningHours"
                        label="COM_DNBOOKING_CONFIG_DAY_WEDNESDAY"
                        description="COM_DNBOOKING_CONFIG_DAY_WEDNESDAY_DESC" />
                <field
                        name="opening_hours_thursday"
                        type="OpeningHours"
                        label="COM_DNBOOKING_CONFIG_DAY_THURSDAY"
                        description="COM_DNBOOKING_CONFIG_DAY_THURSDAY_DESC" />
                <field
                        name="opening_hours_friday"
                        type="OpeningHours"
                        label="COM_DNBOOKING_CONFIG_DAY_FRIDAY"
                        description="COM_DNBOOKING_CONFIG_DAY_FRIDAY_DESC" />
                <field
                        name="opening_hours_saturday"
                        type="OpeningHours"
                        label="COM_DNBOOKING_CONFIG_DAY_SATURDAY"
                        description="COM_DNBOOKING_CONFIG_DAY_SATURDAY_DESC" />
                <field
                        name="opening_hours_sunday"
                        type="OpeningHours"
                        label="COM_DNBOOKING_CONFIG_DAY_SUNDAY"
                        description="COM_DNBOOKING_CONFIG_DAY_SUNDAY_DESC" />
            </form>
        </field>

    </fieldset>
    <fieldset
            name="pricesettings"
            label="COM_DNBOOKING_CONFIG_PRICESETTINGS_LABEL"
    >
        <field
                name="packagepriceregular"
                type="text"
                label="COM_DNBOOKING_CONFIG_PRICESETTINGS_PACKAGEPRICEREGULAR_LABEL"
                description="COM_DNBOOKING_CONFIG_PRICESETTINGS_PACKAGEPRICEREGULAR_DESC"
                size="10"
                default="0"
        />
        <field
                name="packagepricecustom"
                type="text"
                label="COM_DNBOOKING_CONFIG_PRICESETTINGS_PACKAGEPRICECUSTOM_LABEL"
                description="COM_DNBOOKING_CONFIG_PRICESETTINGS_PACKAGEPRICECUSTOM_DESC"
                size="10"
                default="0"
        />

        <field
                name="additional_info_form"
                type="textarea"
                label="Add Infos"
                description=""
                cols="5"
                rows="10"
                filter="RAW"
        />



    </fieldset>
    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                validate="rules"
                filter="rules"
                component="com_dnbooking"
                section="component"
        />

    </fieldset>

</config>
