<?xml version="1.0" encoding="utf-8"?>
<config>
    <inlinehelp button="show"/>
    <fieldset
            name="component"
            label="COM_DNBOOKING_CONFIG_SETTINGS_LABEL"
    >
        <field name="com_dnbooking_note"
               type="note"
               label="COM_DNBOOKING_CONFIG_SETTINGS_NOTE"
        />
    </fieldset>
    <fieldset
            name="pricesettings"
            label="COM_DNBOOKING_CONFIG_PRICESETTINGS_LABEL"
    >
        <field
				name="packagepriceregular"
				type="text"
				label="COM_DNBOOKING_CONFIG_PRICESETTINGS_PACKAGEPRICEREGULAR_LABEL"
				description="COM_DNBOOKING_CONFIG_PRICESETTINGS_PACKAGEPRICEREGULAR_DESC"
				size="10"
				default="0"
		/>
        <field
				name="packagepricecustom"
				type="text"
				label="COM_DNBOOKING_CONFIG_PRICESETTINGS_PACKAGEPRICECUSTOM_LABEL"
				description="COM_DNBOOKING_CONFIG_PRICESETTINGS_PACKAGEPRICECUSTOM_DESC"
				size="10"
				default="0"
		/>
    </fieldset>
    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                validate="rules"
                filter="rules"
                component="com_dnbooking"
                section="component"
        />
    </fieldset>

</config>
