<?xml version="1.0" encoding="utf-8"?>
<config>
    <inlinehelp button="show"/>
    <fieldset
            name="component"
            label="COM_DNBOOKING_CONFIG_SETTINGS_LABEL"

    >
        <field name="com_dnbooking_note"
               type="note"
               label="COM_DNBOOKING_CONFIG_SETTINGS_NOTE"
        />
        <field
                name="returnurl"
                type="menuitem"
                label="COM_DNBOOKING_CONFIG_RETURNURL_LABEL"
                description="COM_DNBOOKING_CONFIG_RETURNURL_DESC"
        />


    </fieldset>
    <fieldset
            name="openighourssetting"
            label="COM_DNBOOKING_CONFIG_OPENINGHOURSSETTINGS_LABEL"
            addfieldprefix="DnbookingNamespace\Component\Dnbooking\Administrator\Field\OpeningHours"
    >
        <field name="closed_color" type="color" default="" label="COM_DNBOOKING_CONFIG_CLOSED_COLOR_LABEL"
               description="COM_DNBOOKING_CONFIG_CLOSEDCOLOR_DESC"/>

        <field name="regular_opening_hours" type="subform"
               label="COM_DNBOOKING_CONFIG_REGULAR_OPENINGHOURS_LABEL"
               description="COM_DNBOOKING_CONFIG_REGULAR_OPENINGTHOURS_DESC"
               multiple="true"
               layout="joomla.form.field.subform.repeatable-table">
            <form>
                <field name="starttime"
                       type="time"
                       label="COM_DNBOOKING_CONFIG_REGULAR_OPENINGHOUR_START_LABEL"
                       description="COM_DNBOOKING_CONFIG_REGULAR_OPENINGHOUR_START_DESC"
                       step="1800"
                />
                <field name="endtime"
                       type="time"
                       label="COM_DNBOOKING_CONFIG_REGULAR_OPENINGHOUR_END_LABEL"
                       description="COM_DNBOOKING_CONFIG_REGULAR_OPENINGHOUR_END_DESC"
                />
                <field name="openinghour_color" type="color" default="" label="COM_DNBOOKING_CONFIG_COLOR_LABEL"
                       description="COM_DNBOOKING_CONFIG_COLOR_DESC"/>

                <field name="higherPrice"
                       type="radio"
                       label="COM_DNBOOKING_CONFIG_HIGHERPRICE_LABEL"
                       description="COM_DNBOOKING_CONFIG_HIGHERPRICE_DESC"
                       class="btn-group btn-group-yesno"
                       default = "0"
                       showon="activateCustomPrice:1">

                    <option value="1">JYES</option>
                    <option value="0">JNO</option>
                </field>
            </form>
        </field>
        <field name="weekly_opening_hours" type="subform"
               label="COM_DNBOOKING_CONFIG_WEEKLY_OPENINGHOURS_LABEL"
               description="COM_DNBOOKING_CONFIG_WEEKLY_OPENINGHOURS_DESC"
        >
            <form>
                <field
                        name="opening_hours_monday"
                        type="OpeningHours"
                        label="COM_DNBOOKING_CONFIG_DAY_MONDAY"
                        description="COM_DNBOOKING_CONFIG_DAY_MONDAY_DESC"
                />
                <field
                        name="opening_hours_tuesday"
                        type="OpeningHours"
                        label="COM_DNBOOKING_CONFIG_DAY_TUESDAY"
                        description="COM_DNBOOKING_CONFIG_DAY_TUESDAY_DESC"
                />
                <field
                        name="opening_hours_wednesday"
                        type="OpeningHours"
                        label="COM_DNBOOKING_CONFIG_DAY_WEDNESDAY"
                        description="COM_DNBOOKING_CONFIG_DAY_WEDNESDAY_DESC"/>
                <field
                        name="opening_hours_thursday"
                        type="OpeningHours"
                        label="COM_DNBOOKING_CONFIG_DAY_THURSDAY"
                        description="COM_DNBOOKING_CONFIG_DAY_THURSDAY_DESC"/>
                <field
                        name="opening_hours_friday"
                        type="OpeningHours"
                        label="COM_DNBOOKING_CONFIG_DAY_FRIDAY"
                        description="COM_DNBOOKING_CONFIG_DAY_FRIDAY_DESC"/>
                <field
                        name="opening_hours_saturday"
                        type="OpeningHours"
                        label="COM_DNBOOKING_CONFIG_DAY_SATURDAY"
                        description="COM_DNBOOKING_CONFIG_DAY_SATURDAY_DESC"/>
                <field
                        name="opening_hours_sunday"
                        type="OpeningHours"
                        label="COM_DNBOOKING_CONFIG_DAY_SUNDAY"
                        description="COM_DNBOOKING_CONFIG_DAY_SUNDAY_DESC"/>
            </form>
        </field>

    </fieldset>

    <fieldset
            name="pricesettings"
            label="COM_DNBOOKING_CONFIG_PRICESETTINGS_LABEL"
            addfieldprefix="DnbookingNamespace\Component\Dnbooking\Administrator\Field\"
    >
        <field
                name="admissionpriceregular"
                type="text"
                label="COM_DNBOOKING_CONFIG_PRICESETTINGS_ADMISSIONPRICEREGULAR_LABEL"
                description="COM_DNBOOKING_CONFIG_PRICESETTINGS_ADMISSIONPRICEREGULAR_DESC"
                size="10"
                default="0"
        />
        <field
                name="admissionpricecustom"
                type="text"
                label="COM_DNBOOKING_CONFIG_PRICESETTINGS_ADMISSIONPRICECUSTOM_LABEL"
                description="COM_DNBOOKING_CONFIG_PRICESETTINGS_ADMISSIONPRICECUSTOM_DESC"
                size="10"
                default="0"
        />
        <field
                name="packagepriceregular"
                type="text"
                label="COM_DNBOOKING_CONFIG_PRICESETTINGS_PACKAGEPRICEREGULAR_LABEL"
                description="COM_DNBOOKING_CONFIG_PRICESETTINGS_PACKAGEPRICEREGULAR_DESC"
                size="10"
                default="0"
        />
        <field
                name="packagepricecustom"
                type="text"
                label="COM_DNBOOKING_CONFIG_PRICESETTINGS_PACKAGEPRICECUSTOM_LABEL"
                description="COM_DNBOOKING_CONFIG_PRICESETTINGS_PACKAGEPRICECUSTOM_DESC"
                size="10"
                default="0"
        />
        <field
                name="downpayment"
                type="text"
                label="COM_DNBOOKING_CONFIG_PRICESETTINGS_DOWNPAYMENT_LABEL"
                description="COM_DNBOOKING_CONFIG_PRICESETTINGS_DOWNPAYMENT_DESC"
                size="10"
                default="0"
        />

        <field type="note" name="myspacer" label="COM_DNBOOKING_SELECT_REGION_HINT"/>

        <field name="region"
               type="list"
               default=""
               label="COM_DNBOOKING_SELECT_REGION_LABEL"
               description="COM_DNBOOKING_SELECT_REGION_DESC"
        >
            <option value="DE-BW">COM_DNBOOKING_REGION_LABEL_BW</option>
            <option value="DE-BY">COM_DNBOOKING_REGION_LABEL_BY</option>
            <option value="DE-BE">COM_DNBOOKING_REGION_LABEL_BE</option>
            <option value="DE-BB">COM_DNBOOKING_REGION_LABEL_BB</option>
            <option value="DE-HB">COM_DNBOOKING_REGION_LABEL_HB</option>
            <option value="DE-HH">COM_DNBOOKING_REGION_LABEL_HH</option>
            <option value="DE-HE">COM_DNBOOKING_REGION_LABEL_HE</option>
            <option value="DE-MV">COM_DNBOOKING_REGION_LABEL_MV</option>
            <option value="DE-NI">COM_DNBOOKING_REGION_LABEL_NI</option>
            <option value="DE-NW">COM_DNBOOKING_REGION_LABEL_NW</option>
            <option value="DE-RP">COM_DNBOOKING_REGION_LABEL_RP</option>
            <option value="DE-SL">COM_DNBOOKING_REGION_LABEL_SL</option>
            <option value="DE-SN">COM_DNBOOKING_REGION_LABEL_SN</option>
            <option value="DE-ST">COM_DNBOOKING_REGION_LABEL_ST</option>
            <option value="DE-SH">COM_DNBOOKING_REGION_LABEL_SH</option>
            <option value="DE-TH">COM_DNBOOKING_REGION_LABEL_TH</option>
        </field>

        <field
                name="selectHolidaysType"
                type="checkboxes"
                default=""
                label="COM_DNBOOKING_SELECT_HOLIDAYS_TYPE_LABEL"
                description="COM_DNBOOKING_SELECT_HOLIDAYS_TYPE_DESC"
        >
            <option value="publicHolidays">COM_DNBOOKING_SELECT_HOLIDAYS_TYPE_PUBLICHOLIDAYS</option>
            <option value="holiday">COM_DNBOOKING_SELECT_HOLIDAYS_TYPE_HOLIDAY</option>
        </field>

        <field
                name="holidays"
                type="Holidays"
                hiddenLabel="true"
                layout="joomla.form.field.subform.holidays-list"
                description=""
                multiple="true"
                min="1"
                max="1000"
        >
            <form>
                <field
                        name="startDate"
                        type="calendar"
                        label="COM_DNBOOKING_FIELD_HOLIDAYS_STARTDATE_LABEL"
                        translateformat="false"
                        showtime="false"
                        filter="server_utc"
                        readonly="true"
                />
                <field
                        name="endDate"
                        type="calendar"
                        label="COM_DNBOOKING_FIELD_HOLIDAYS_ENDDATE_LABEL"
                        translateformat="false"
                        showtime="false"
                        filter="server_utc"
                        readonly="true"
                />
                <field
                        name="title"
                        type="text"
                        label="COM_DNBOOKING_FIELD_HOLIDAYS_TITLE_LABEL"
                        readonly="true"
                />
            </form>
        </field>
    </fieldset>

<!--
    <fieldset
            name="additional_fields"
            label="COM_DNBOOKING_CONFIG_ADDITIONAL_FIELDS_LABEL"
    >

        <field type="spacer" name="myspacer" label="COM_DNBOOKING_CONFIG_ADDITIONAL_FIELDS_HINT"/>

        <field
                name="additional_info_form"
                type="subform"
                hiddenLabel="true"
                layout="joomla.form.field.subform.repeatable-table"
                description=""
                multiple="true"
                min="1"
                max="10"
        >
            <form>
                <field
                        name="fieldName"
                        type="text"
                        label="COM_DNBOOKING_FIELD_NAME_LABEL"
                        description=""
                        size="10"
                        default=""
                />
                <field name="fieldName"
                       type="list"
                       default=""
                       required="true"
                       label="COM_DNBOOKING_FIELD_NAME_LABEL"
                       description=""
                >
                    <option value="">COM_DNBOOKING_LABEL_CHOOSE</option>
                    <option value="visitors">visitors</option>
                    <option value="visitorsPackage">visitorsPackage</option>
                    <option value="birthdaychildren">birthdaychildren</option>
                </field>
                <field
                        name="fieldLabel"
                        type="text"
                        label="COM_DNBOOKING_FIELD_LABEL_LABEL"
                        description=""
                        size="10"
                        default=""
                />
                <field name="fieldType"
                       type="list"
                       default=""
                       required="true"
                       label="COM_DNBOOKING_FIELD_TYPE_LABEL"
                       description=""
                >
                    <option value="">COM_DNBOOKING_LABEL_CHOOSE</option>
                    <option value="text">COM_DNBOOKING_OPTION_FIELDTYPE_TEXT</option>
                    <option value="number">COM_DNBOOKING_OPTION_FIELDTYPE_NUMBER</option>
                    <option value="textarea">COM_DNBOOKING_OPTION_FIELDTYPE_TEXTAREA</option>
                    <option value="checkbox">COM_DNBOOKING_OPTION_FIELDTYPE_CHECKBOX</option>
                    <option value="list">COM_DNBOOKING_OPTION_FIELDTYPE_LIST</option>
                    <option value="calendar">COM_DNBOOKING_OPTION_FIELDTYPE_CALENDAR</option>
                </field>
            </form>
        </field>

        <field type="spacer" name="myspacer" label="COM_DNBOOKING_CONFIG_ADDITIONAL_FIELDS2_HINT"/>

        <field
                name="additional_info_form2"
                type="subform"
                hiddenLabel="true"
                layout="joomla.form.field.subform.repeatable-table"
                description=""
                multiple="true"
                min="1"
                max="10"
        >
            <form>
                <field
                        name="fieldName"
                        type="text"
                        label="COM_DNBOOKING_FIELD_NAME_LABEL"
                        description=""
                        size="10"
                        default=""
                />
                <field
                        name="fieldLabel"
                        type="text"
                        label="COM_DNBOOKING_FIELD_LABEL_LABEL"
                        description=""
                        size="10"
                        default=""
                />
                <field name="fieldType"
                       type="list"
                       default=""
                       required="true"
                       label="COM_DNBOOKING_FIELD_TYPE_LABEL"
                       description=""
                >
                    <option value="">COM_DNBOOKING_LABEL_CHOOSE</option>
                    <option value="text">COM_DNBOOKING_OPTION_FIELDTYPE_TEXT</option>
                    <option value="number">COM_DNBOOKING_OPTION_FIELDTYPE_NUMBER</option>
                    <option value="textarea">COM_DNBOOKING_OPTION_FIELDTYPE_TEXTAREA</option>
                    <option value="checkbox">COM_DNBOOKING_OPTION_FIELDTYPE_CHECKBOX</option>
                    <option value="list">COM_DNBOOKING_OPTION_FIELDTYPE_LIST</option>
                    <option value="calendar">COM_DNBOOKING_OPTION_FIELDTYPE_CALENDAR</option>

                </field>
                <field
                        name="fieldOptions"
                        type="textarea"
                        label="COM_DNBOOKING_FIELD_OPTIONS_LABEL"
                        description=""
                        size="10"
                        default=""
                        showon="fieldType:list"
                />
            </form>
        </field>

    </fieldset>
-->
    <fieldset
            name="vendorsettings"
            label="COM_DNBOOKING_CONFIG_VENDORSETTINGS_LABEL"
    >
        <field
                name="hint_vendor"
                type="note"
                label="COM_DNBOOKING_CONFIG_VENDORSETTINGS_HINT"
        />

        <field
            name="vendor_logo"
            type="media"
            label="COM_DNBOOKING_CONFIG_VENDORSETTINGS_LOGO_LABEL"
        />

        <field
                name="vendor_address"
                type="textarea"
                label="COM_DNBOOKING_CONFIG_VENDORSETTINGS_ADDRESS_LABEL"
                rows="5"
                default=""
        />

        <field
                name="vendor_email"
                type="text"
                label="COM_DNBOOKING_CONFIG_VENDORSETTINGS_EMAIL_LABEL"
                description=""
                size="10"
                default=""
        />

        <field
                name="vendor_from"
                type="text"
                label="COM_DNBOOKING_CONFIG_VENDORSETTINGS_FROM_LABEL"
                description=""
                size="10"
                default=""
        />

        <field
                name="vendor_phone"
                type="text"
                label="COM_DNBOOKING_CONFIG_VENDORSETTINGS_PHONE_LABEL"
                description=""
                size="10"
                default=""
        />

        <field
                name="vendor_accountdata"
                type="textarea"
                label="COM_DNBOOKING_CONFIG_VENDORSETTINGS_ACCOUNTDATA_LABEL"
                rows="5"
                default=""
        />

    </fieldset>

    <fieldset
            name="emailsettings"
            label="COM_DNBOOKING_CONFIG_EMAILSETTINGS_LABEL"
    >
        <field
                name="emailheader"
                label="COM_DNBOOKING_CONFIG_EMAILSETTINGS_HEADER_LABEL"
                type="editor"
                filter="raw"
        />
        <field
                name="emailfooter"
                label="COM_DNBOOKING_CONFIG_EMAILSETTINGS_FOOTER_LABEL"
                type="editor"
                filter="raw"
        />
    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                validate="rules"
                filter="rules"
                component="com_dnbooking"
                section="component"
        />

    </fieldset>

</config>
