.jumbotron {
    background: #1f5098 !important;
    color: white !important;
    padding: 15px;
    #month, #year{
        color: white !important
    }
}

.fa {
    font-size: 0.5em;
}
table {
    width: 100%;
}
th {
    text-align: center;
}
td {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    font-size: 1.5em;
    &.day, &.daySpacer{
        padding:0!important;
    }
}
td,
#year {
    font-family: monospace;
}
.hover {
    background: #eee;
}
.day{
    cursor: pointer;
    &.customTime{
        background: red;
    }
    .icons{
        display: none;
    }
    &:hover{
        .icons{
            display: flex;
            position:absolute;
            top:0;
            right:0;
        }
        .dayInner{
            background: #9D9D9D33;
            box-shadow: inset 0 0 0.5rem 0.1rem #000000;
        }
    }
    .dayInner{
        width: 100%;
        position: relative;
    }
}
//*****MODAL****//
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    &-content{
        > div{
            padding:10px!important;
        }
    }
}
