.room, .extraList{
    transition: .5s opacity ease-in-out;
    .el-item{
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0, 0.24);
        transition: all 0.3s ease-in-out;
        padding: 10px;

        &:not(.room.disabled .el-item):hover{
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0, 0.24);
        }

        .roomlistRoomTitle{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .roomlistRoomDescription{
            font-size: 14px;
            margin-bottom: 10px;
        }
    }
    &.disabled{
        opacity:0.3;
    }
}

.activeRoom{
    .el-item{
        border: 2px solid green;
    }
}

.uk-modal-dialog{
    width:80vw!important;
    .uk-table-shrink {
        min-width: fit-content;
        width: 80px;
    }
}
.stickyBottom{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    width:100%;
    max-width:1230px;
    padding:20px 15px;
    z-index: 1000;
    > div > div:last-child{
        display: flex;
        justify-content: flex-end;
    }
}
#sendButton{
    margin-bottom: 100px;
}
#summary{
    th, td{
        text-align:left;
        &:last-child{
            text-align: right;
        }
    }
}