@import 'special.scss';
.uk-padding-small{
    padding-left:0!important;
    padding-right:0!important;
}
.js-calendar{
    .day.selected {
        background-color: #25badd !important;
        color:#FFF !important;
    }
    .day:hover {
        border: 1px solid #25badd !important;
    }
}
.room, .extraList{
    transition: .5s opacity ease-in-out;
    .el-item{
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0, 0.24);
        transition: all 0.3s ease-in-out;
        padding: 10px;


        &:not(.room.disabled .el-item):hover{
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0, 0.24);
        }

        .roomlistRoomTitle{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .roomlistRoomDescription{
            font-size: 14px;
            margin-bottom: 10px;
        }
    }
    &.disabled {
        position:relative;
        &::after{
            content: 'Reserviert';
            position: absolute;
            top: 50%;
            left: calc(50% + 15px);
            width: fit-content;
            height: auto;
            font-size: 3.5rem;
            transform: rotate(-45deg) translate(-50%, -50%);
            transform-origin: top left;
            color:#1f5098;
            font-family: Chewy;
        }
        .el-item {
            opacity:0.3;
        }
    }
}

.room{
    .el-item{
        height:100%;
    }
    &.regular{
        .priceregular{
            display:block;
        }
        .pricecustom {
            display: none;
        }
    }
    &.holiday{
        .priceregular{
            display:none;
        }
        .pricecustom{
            display:block;
        }
    }
}


.activeRoom{
    .el-item{
        border: 2px solid green;
    }
}

.uk-modal-dialog{
    width:80vw!important;
    .uk-table-shrink {
        min-width: fit-content;
        width: 80px;
    }
}
.stickyBottom.uk-section-default{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    width:100%;
    max-width:1230px;
    padding:20px 15px;
    z-index: 1000;
    padding-top:0;
    > div > div:last-child{
        display: flex;
        justify-content: flex-end;
    }
}
.uk-alert p{
    margin: 0;
}
.subform-wrapper{
    .btn-toolbar{
        display:none;
    }
    .uk-padding-small .uk-padding-small{
        padding: 0;
    }
}
#sendButton{
    margin-bottom: 100px;
}
#summary{
    th, td{
        text-align:left;
        &:last-child{
            text-align: right;
        }
    }
}

.uk-grid-margin:not(#bookingTimes .uk-grid-margin){
    margin-top: 20px!important;
}

#reservationForm {
    .errorField{
        border: 1px solid red;
    }
}