@import "variables";

/*Geteilte Styles*/
.h1-headline-pdf {
  font-size: 2em;
  margin: 0;
  padding: 0;
  font-family: 'Chewy';
}
h2 {
  font-family: 'chelvetica';
}

.header .text{
  font-family: 'chelvetica';
  color:#FFF;
  vertical-align: bottom;
  width:100%;
}

.header .logo{
  width:auto;
  height:40px;
}

/**SingleAnsicht**/
.daysheetItem{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

  .header {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    padding-top: 5mm;
    padding-left:0;
    padding-right:0;
    padding-bottom: 0;
    background: $blue;
    color: white;
  }

  .daysheetBody {
    padding: 0;
    font-family: 'chelvetica';
    table {
      width: 100%;
      display: block;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      font-family: 'chelvetica';

      th, td {
        text-align: left;
        font-family: 'chelvetica';
        font-weight: bold;
      }

      .alignRight {
        text-align: right;
      }
    }

  }
  table.footer {
    width: 100%;
    display: block;
    border-top: 1px solid #000;
    font-family: 'chelvetica';
  }

/*Gridansicht*/
.daysheetGrid{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gridHeader {
  position: absolute;
  top: 0;
  left: 0;
  height: 2cm;
  padding: 0.5cm 0.5cm;
  background: $blue;
  color: white;
}

.daysheetBody, .reservationsGrid {
  width: 100%;
  height:100%;
}
.daysheetBody table{
  border-collapse: collapse;
}
.reservationsGrid td {
  height:100%;
  vertical-align: top;
}

.singleReservation {
  height:100%;
  width: 100%;
  border-collapse: collapse;
}

table.singleReservation {
  width:100%;
  border:1px solid black;
  border-collapse: collapse;
  th{
    background-color:#DDD;
  }
}
.border-bottom{
  border-bottom: 1px solid black;
}
.border-top{
  border-top: 1px solid black;
}
.checkbox{
  border:1px solid black;
}
table, td, tr{
  vertical-align: top;
}