@import "./utils/bootswatch_vmm";

.firstCard{
    margin-top: 20px;
}

.form-select, .custom-select {
    background-color: $dark;
}
.choices[data-type*="select-one"] .choices__inner, .choices[data-type*="select-multiple"] .choices__inner {
    background-color: $dark;
}

.alert-secondary {
    background-color: $secondary;
    color: white;
}

.border-primary {
     border-color: $primary !important;
 }

.border-secondary {
    --bs-border-opacity: 1;
    border-color: $secondary !important;
    border: 1px solid;
}

.border-success {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
}

.border-info {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-info-rgb), var(--bs-border-opacity)) !important;
}

.card-header-reservation{
    display: flex;
    justify-content: space-between;
}

.addInfos2Tab {
    .subform-repeatable-wrapper{

    }
    margin-bottom: 80px;
}
.js-calendar.open{
    position: static !important;
}
.alignRight{
    text-align: right;
}
